# Robinhood Crypto API credentials
# Copy this file to ../.env and fill in missing values

EXCHANGE=robinhood
API_KEY=rh-api-41d0c46b-082b-4797-adb1-32f55e3c7c4d
BASE64_PRIVATE_KEY=LP5pNqi5bHNVGEPDXZXM7c2d6o1kc4RcEhG0xJdoBf4=
